/* Default CSS */
*{
    margin: 0;
    padding: 0;
}
.ClearFix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/* Header CSS */

.fixed-with{
    width: 965px;
    margin: auto;
}

.Header{
    background-color: #0abde3;
}
.Header-left{
    float: left;
    width: 30%;
}
.Header-left img{
    width: 200px;
    height: auto;
}

.Header-right{
    float: right;
    width: 70%;
}
.Header-right ul{
    text-align: center;
}
.Header-right ul li{
    display: inline-block;
}
.Header-right ul li a{
    text-decoration: none;
    font-size: 36px;
    padding: 20px 10px;
    color: white;
    line-height: 80px;
    border-right: 1px solid #ddd;
    margin-left: -4px;
    transition: .5s;
}
.Header-right ul li a:hover{
    background-color: #f39c12;
    margin-bottom: 4px;
}

/* Banner start */

.banner{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOCYXxFaKDmKs0U-jyV2UC580x92Qs-3pkSQ&usqp=CAU);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 144px 0;
}
.banner-caption{}
.banner-caption h2{
    background-color: rgba(52, 152, 219, .6);
    color: white;
    max-width: 400px;
    margin: auto;
    margin-top: auto;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 30px;
}
.banner-caption h1{
    background-color: rgba(52, 152, 219, .6);
    color: white;
    max-width: 400px;
    margin: auto;
    margin-top: auto;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: -115px;
    margin-right: 30px;
}

/* About */
.about{
    margin-top: 60px;
}
.about h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.about p{
    max-width: 800px;
    margin: auto;
    font-size: 19px;
}
/* service sectoin */
.service{
    margin-top: 30px;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}
.service-item{
    width: 31.3%;
    float: left;
    border: 1px solid #ddd;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.service-item span i{
    display: block;
    height: 60px;
    width: 60px;
    background-color: #0984e3;
    color: white;
    margin: auto;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
    font-size: 36px;
}
.service-item span i:hover{
    display: block;
    height: 60px;
    width: 60px;
    background-color: #1bca41;
    color: rgb(231, 9, 9);
    margin: auto;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}

/* blog secticon */

.blog-container{
    padding-top: 60px;
    padding-bottom: 40px;
}
.blog-left-content{
    float: left;
    width: 70%;
    padding-left: 15px;
}
.blog-item{
    margin-bottom: 30px;
   
}
.blog-left-notification{
    float: right;
    width: 25%;
    padding-right: 15px;
}

.blog-item img{
    float: left;
    width: 150px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
/* blog notification */
.blog-left-notification h2{
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    padding: 10px;
}
.blog-left-notification ul li{
    border: 1px solid #ddd;
    background-color: #fafafa;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
}
.blog-left-notification ul{
    list-style: none;

}
/* footer */

.footer{
    background-color: #2d98da;
    color: white;
    padding: 15px 0;
    margin-bottom: 5px;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}

/* social menu */
.social-menu{
    text-align: right;
}
.social-menu li{
    display: inline-block;
}
.social-menu li a{
    text-decoration: none;
    padding: 10px;
    font-size: 23px;
    margin-left: 10px;
    color: white;
}
.social-menu li a:hover{
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    color: rgb(192, 4, 4);
}
